.header{
    &-logo{
        width: 200px;
        margin: 20px;
        &_img{
            height: 50px;
            fill: $color-highlight;
        }
        &_text{
            font-size: 1.8em;
            color: $color-text;
        }
    }
    &-menu{
        width: 210px;
        margin: 20px;
        margin-right: 70px;
        a{
            color: $color-highlight;
        }
    }
}

// Mobile version
@media screen and (max-width: 768px) {
    .header{
        &-logo{
            width: 130px;
            margin: 10px;
            &_img{
                height: 30px;
            }
            &_text{
                font-size: 1.2em;
            }
        }
        &-menu{
            width: 160px;
            margin: 10px;
            margin-right: 20px;
            a{
                font-size: 0.7em;
            }
        }
    }
}
